<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learn Korean</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <!-- Include Angular library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>

  <!-- Include out Angular scripts here -->
  <script src="/scripts/root.js"></script>
  <!-- End -->
  <body>
    <div>
      <div class="container">
        <div class="col-md-2">
        <p>LOGO</p></div>
        <div class="col-md-10">
        
        {{!-- NAV BAR NEEDS TO BE REVISITED. --}}
        
        
        
        <nav>
          <ul>
            {{#if user}}
            <li>
              <a class="active" href="/">Dashboard</a>
            </li>
            <li>
              <a href="/users/logout">Logout</a>
            </li>
            {{else}}
            <form action="/users/login" method="post">
              <li>
                <div>
                  <a><button type="submit">Submit</button></a>
                </div>
              </li>
            <li>
              <div>
                <a><input type="password" name="password" placeholder="Password"></a>
              </div>
            </li>
            <li>
              <div>
                <a>Password</a>
              </div>
            </li>
            <li>
              <div>
                <a><input type="text" name="username" placeholder="Username"></a>
              </div>
            </li>
              <li>
                <div>
                  <a>Username</a>
                </div>
              </li>
          </form>
            <li>
              <a href="/users/register">Register</a>
            </li>
            {{/if}}
            {{#if isAdmin}}
            <li>
              <a href="/users/admin">Add A Word</a>
            </li>
            {{/if}}
          </ul>
        </nav>
        </div>
      </div>
      <div>
        <div>
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}
          {{#if error_msg}}
          <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}
          {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          {{{body}}}
        </div>
      </div>
    </div>
  </body>

</html>
